################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Welqome/FileContentIndex/20651b26-9ef0-4bf8-90cb-debd67f003e6.vsidx
