################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Welqome/FileContentIndex/20651b26-9ef0-4bf8-90cb-debd67f003e6.vsidx
/.vs/Welqome/FileContentIndex/23285ba1-b95e-42ac-9527-87b88786787a.vsidx
/.vs/Welqome/FileContentIndex/2e11c8a0-529d-4bf3-ad2c-7bd7932d57df.vsidx
/.vs/Welqome/FileContentIndex/d7702c11-89e3-43ee-a727-6a94e4129167.vsidx
/.vs/Welqome/FileContentIndex/a26a07a3-b92b-44b7-9833-0ecf4080d6e1.vsidx
/.vs/Welqome/FileContentIndex/e8dab822-ff89-4e94-9f7e-17449801649c.vsidx
/.vs/Welqome/FileContentIndex/5af0d5e8-c86c-46e2-bec8-a8629f4f1d73.vsidx
