################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Welqome/FileContentIndex/20651b26-9ef0-4bf8-90cb-debd67f003e6.vsidx
/.vs/Welqome/FileContentIndex/23285ba1-b95e-42ac-9527-87b88786787a.vsidx
/.vs/Welqome/FileContentIndex/2e11c8a0-529d-4bf3-ad2c-7bd7932d57df.vsidx
/.vs/Welqome/FileContentIndex/d7702c11-89e3-43ee-a727-6a94e4129167.vsidx
/.vs/Welqome/FileContentIndex/a26a07a3-b92b-44b7-9833-0ecf4080d6e1.vsidx
/.vs/Welqome/FileContentIndex/e8dab822-ff89-4e94-9f7e-17449801649c.vsidx
/.vs/Welqome/FileContentIndex/5af0d5e8-c86c-46e2-bec8-a8629f4f1d73.vsidx
/.vs/Welqome/FileContentIndex/25a017ae-9d0e-4916-be98-f2fa83ed3245.vsidx
/.vs/Welqome/FileContentIndex/fb2f69c5-eb52-494c-9bf8-2465f0679de8.vsidx
/.vs/Welqome/FileContentIndex/0588d27b-8e1c-4eff-b4c1-c300796bfded.vsidx
/.vs/Welqome/FileContentIndex/87049442-7b31-4c01-a2e9-c731d4b664fa.vsidx
/.vs/Welqome/FileContentIndex/af4469d4-6e13-4b15-b716-8ccf6242053b.vsidx
/.vs/Welqome/FileContentIndex/777266be-498a-478d-8b4c-4024c8689994.vsidx
/.vs/Welqome/FileContentIndex/417e0b89-1e6e-4a69-bdee-62120ad256e3.vsidx
